<div id="<%= dom_id crony %>">
  <p>
    <strong>First name:</strong>
    <%= crony.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= crony.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= crony.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= crony.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= crony.twitter %>
  </p>

</div>
