<%= form_with(model: crony) do |form| %>
  <% if crony.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(crony.errors.count, "error") %> prohibited this crony from being saved:</h2>

      <ul>
        <% crony.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :first_name, class:"form-control",placeholder:"First Name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :last_name, class:"form-control",placeholder:"Last Name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :email, class:"form-control",placeholder:"Email" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :phone, class:"form-control",placeholder:"Phone" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :twitter, class:"form-control",placeholder:"Twitter" %>
  </div>
   <div class="field form-group">
    <%= form.number_field :user_id,id: :crony_user_id, class:"form-control",value:current_user.id,type: :hidden %>
  </div>

<br/>
  <div class="actions">
    <%= form.submit class:'btn btn-secondary'%>
  </div>
<% end %>
